.cmtForm{
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.cmtForm textarea{
  font-size: 1rem;
  padding: 10px;
  height: 100px;
  resize: none;
}

.addCmtBtn{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #3c5a5f;
  color: #fff;
  margin-top: 20px;
}